.a{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    float: left;
    margin-left: 5px;
}

.b{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    margin-left: 5px;
}

@keyframes move {
    0%{background-color: red; left: 0px;top: 0px;}

    25%{background-color: yellow; left: 200px; top: 0px;}

    50%{background-color: blue; left: 200px; top: 200px;}

    75%{background-color: green; left: 0px; top: 200px;}

    100%{background-color: red; left: 0px; top: 0px;}
}