main .main-slider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: auto;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 18.6vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #a8a8a8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #a8a8a8;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

.navigation-auto div {
    border: 2px solid #a8a8a800;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 73.5vh;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #a8a8a8;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #a8a8a8;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #a8a8a8;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #a8a8a8;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #a8a8a8;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: #a8a8a8;
}