body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

.fade{
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    transition: opacity .5s ease;
    opacity: 1;
}

.fade:hover{
    opacity: 0.5;
}

