body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(57, 57, 57);
}

.Snowflakes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Snowflake{
    position: absolute;
    top: -10px;
    font-size: 24px;
    user-select: none;
    animation: fall linear infinite;
    color: rgb(122, 168, 153);
}

.Snowflake:nth-of-type(1) {
    left: 15%;
    animation-duration: 10s;
    animation-delay: 3s;
} 

.Snowflake:nth-of-type(2) {
    left: 30%;
    animation-duration: 15s;
    animation-delay: 5s;
}

.Snowflake:nth-of-type(3) {
    left: 45%;
    animation-duration: 18s;
    animation-delay: 7s;
}


.Snowflake:nth-of-type(4) {
    left: 60%;
    animation-duration: 13s;
    animation-delay: 9s;
}

.Snowflake:nth-of-type(5){
    left: 75%;
    animation-duration: 9s;
    animation-delay: 11s;
}


.Snowflake:nth-of-type(6){
    left: 90%;
    animation-duration: 5s;
    animation-delay: 13s;
}

.Snowflake:nth-of-type(7){
    left: 18%;
    animation-duration: 16s;
    animation-delay: 16.5s;
}


.Snowflake:nth-of-type(8){
    left: 33%;
    animation-duration: 8s;
    animation-delay: 18.5s;
}

.Snowflake:nth-of-type(9){
    left: 48%;
    animation-duration: 19s;
    animation-delay: 20.5s;
}

.Snowflake:nth-of-type(10){
    left: 63%;
    animation-duration: 17s;
    animation-delay: 22.5s;
}

.Snowflake:nth-of-type(11){
    left: 78%;
    animation-duration: 6s;
    animation-delay: 24.5s;
}

.Snowflake:nth-of-type(12){
    left: 93%;
    animation-duration: 10s;
    animation-delay: 26.5s;
}

@keyframes fall {
    0% {
        transform: translateX(-100vh);
    }

    100% {transform: translateY(100vh);}
}