body {
    background: #DFDCE3;
}

body > div{
    width: 400px;
    height: 100px;
    margin: 50px 60px;
    float: left;
    background: tomato;
    font-weight: 800;
    font-size: 35px;
    color: peachpuff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

p {
    margin-left: 10px;
}

.surpresa1 {
    opacity: 0.5;
}

.surpresa1:hover {
    opacity: 1;
}

.surpresa2:hover{
    background: crimson;
}

.surpresa3:hover {
    transform: scale(1.3);
}

.surpresa4:hover {
    transform: scale(0.7);
}

.surpresa5:hover {
    transform: rotateZ(-30deg);
}

.surpresa6:hover {
    border-radius: 50%;
}

.surpresa7:hover {
    box-shadow: 1px 1px firebrick,
                2px 2px firebrick,
                3px 3px firebrick,
                4px 4px firebrick,
                5px 5px firebrick,
                6px 6px firebrick,
                2px 2px firebrick;
    transform: translateX(-3px);
}

